@font-face {
	font-family: 'Conv_Gelion Regular';
	src: url('fonts/Gelion Regular.eot');
	src: local('☺'), url('fonts/Gelion Regular.woff') format('woff'), url('fonts/Gelion Regular.ttf') format('truetype'), url('fonts/Gelion Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: "Monument";
src: url("fonts/Monument Extended.otf");
}

html {
  scroll-behavior: smooth;
}

a{text-decoration: none;}
body {
    width: 100%;
	overflow-x: hidden;
}


html, body {
    margin: 0;
    padding: 0;
} 
body{
        cursor: url("afbeeldingen/ijcursorklein.png"), default;
        background-color: #006BD1;
      
    }
 a:hover{cursor: url("afbeeldingen/ijcursorklein.png"), default}
 a:pointer{cursor: url("afbeeldingen/ijcursorklein.png"), default}
ul {
	font-size:20px;
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	color: white;
	text-align: center;
	margin-top: 140px;
	}

.navbar{
	font-family: 'Conv_Gelion Regular', sans-serif;
	font-weight:normal;
	font-size: 20px;
	color: white;
	text-decoration: none;
line-height: 1.8;
color: white;
	position: fixed;
	margin-left: 0px;
}

p{
font-family: 'Conv_Gelion Regular',sans-serif;
font-weight: normal;
font-size: 20px;
color: white;
}

h1{
	font-family: 'Conv_Gelion Regular',sans-serif;
	font-weight:normal;
}

h2{
	font-family: Monument;
	font-weight: normal;
	color: white;
	font-size: calc(20px + 3vw);
	line-height: 20px;
}

h3{
	font-family: Monument;
	font-weight: normal;
	color: #00A0FF;
	font-size: calc(5px + 1.7vw);
	line-height: normal;

}

h4{
	font-family: Monument;
	font-weight: normal;
	font-size: calc(10px + 2vw);
	line-height: 20px;
	text-align: center;
}

h5{
	margin-top: 17px;
	font-family: Monument;
	font-weight: normal;
	font-size: calc(7px + 1vw);
	line-height: 20px;
	text-align: center;
	color: #56423D;
}

h6{
	margin-block-start: 0px;
	margin-block-end: 0px;
	font-family: Monument;
	font-weight: normal;
	color: white;
	font-size: calc(5px + 2vw);
}


.textbox2{
	margin-top: 70px;
	white-space: normal;
}

a:link {color:white;}
a:visited {color: white;}
a:hover {color: #FF0000}
a:active{color: #FF0000}

.header {
display:  flex;
justify-content: space-between;
align-items: baseline;
position: fixed;
height: 100px;
margin-left: 35px;
margin-top: 35px;

}

}
.top-left {
margin-left: 20px;
	
}

.wrapper {
margin-left: 240px;
margin-top: 50px;
}

#mainbox2 {
	display:  flex;
	margin-top: 0px;
	flex-flow:  row wrap;
		justify-content: space-around;
		align-items: center;
	height: 100vh;
}

.introkat{
	float: right;
justify-content: right;
width: calc(200px + 5vw);
}

.motiondesignillustration{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.motiondesign{
	border-radius: 80px;
	border: 2px solid white;
	padding: 20px;
}


.illustration{
	border-radius: 80px;
	border: 2px solid white;
	padding: 20px;
}

.intro {
	width: 50vw;
	white-space: nowrap
}

.mainbox {
	margin-left: 0px;
	display:  flex;
	justify-content: space-around;
	flex-flow:  row wrap;
	align-content: center;
	
}

#deel2{
	width:100vw;
	height: 120vh;
	background-color: #56423D;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#deel3{
	width:100vw;
	background-color: #1D1D1D
}

.iframe{

}

.reel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#deel4{
	width:100vw;
	background-color: #006BD1;
	height: 100vh;
}

.box1 video{
width: 100%;
max-height: 350px;
display: flex;
justify-content: center;
align-items: left;
margin: 1rem;
padding: 0px;
}

.box1 img{
	max-height: 350px;
	display: flex;
	justify-content: center;
	align-items: left;
	margin: 1rem;
	padding: 0px;
	}

.aboutmetext{
	margin-left: 240px;
	max-width: 600px;
}

.aboutme{
display: flex;
}

.socials{
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	margin-left: 30px;
		margin-top: 9px;
	font-family: Monument;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #56423D;
}

footer{
	display: flex;
	height:  50px;
	background-color: #FF0000;
	justify-content: center;
}

.logorobot{
	position: absolute;
	z-index: 10;
	margin-left: 13px;
	margin-top: -7px;
}

.alles{
	width: 100vw;
}

@media screen and (max-width: 830px) {

	.header{
		z-index: 10;
		margin-left: 0px;
		margin-top: 0px;
		filter: drop-shadow(0 0.2rem 0.2rem black);

    
	}

	.intro{
		width: 70vw;
	}

	.mainbox2 {
		display: flex;
	}

	.wrapper{
		margin-left: 0;
	}

	.aboutmetext{
		margin-left: 5vw;
	}

	ul{
		display: none;
	}

	.aboutme {
		margin-right: 2vw;
		padding-bottom: 100px;
	}

h4{
	font-size: calc(20px + 2vw);
}

h5{
	font-size: 2vw
}

	}

@media not all and (min-resolution:.001dpcm) { 
     @supports (-webkit-appearance:none) {
       .box1 video{
					width: 80%;
					max-height: 350px;
					display: flex;
					justify-content: center;
					margin: 1rem;
			}
		}  
  }



  @media screen and (max-width: 550px) {
	.logorobot{
		width: 30vw;
	}

	.box1 video{
		width: 80%;
	}

.box1 img{
	width:80%
}

.introkat{
	width: calc(150px + 20vw)
}

#deel4{
	height: auto;
}

.intro{
	white-space: normal;
	text-align: center ;
	display: flex;
    flex-direction: column;
    align-items: center;
}

	p{
		font-size: 18px;
	}

.motiondesignillustration{
	justify-content: center;
}

.aboutme{
	flex-direction: column;
}

h5{
	font-size: 3vw;
}

.credits{
	text-align: center;
}

.textbox2{
	margin: 0px;
}

  }
